# Python Programming and markdown
## Python Programming and markdown
### Python Programming and markdown
#### Python Programming and markdown
##### Python Programming and markdown
###### Python Programming and markdown

- point 1
    - subpoint1
    
- point 2 
    - sunpoint1

* **python**

* *python*
* ***python***

<img src='Python.png'>

### Adding link to markdown
!.[google](https://www.google.com/search?q=download+images+python&rlz=1C1OKWM_enIN851IN851&sxsrf=ACYBGNS2d8o-3ojY6a6eXotMOFhuGZBggw:1568624704446&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiOlq2y_tTkAhWu63MBHfufDWUQ_AUIFCgD&biw=1093&bih=526#imgrc=2Vkpu19-dP_aYM:)

In [2]:
print("hello gitam")

hello gitam

![text](https://www.google.com/search?q=download+images+python&rlz=1C1OKWM_enIN851IN851&sxsrf=ACYBGNS2d8o-3ojY6a6eXotMOFhuGZBggw:1568624704446&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiOlq2y_tTkAhWu63MBHfufDWUQ_AUIFCgD&biw=1093&bih=526#imgrc=2Vkpu19-dP_aYM:)

In [6]:
print("hello gitam")
print ("hello","|||",end=" ")
print("hello gitam")

hello gitam
hello ||| hello gitam

## Data type conversion
- int()
- float()
- string()

In [20]:
a1= "100.333"
print(a1,end=" ")
print(type(a1))
a2=float(a1)
print(a2,end=" ")
print(type(a2))
a3=int(a2)
print(a3,end=" ")
print(type(a3))

100.333 <class 'str'>
100.333 <class 'float'>
100 <class 'int'>

In [13]:
q=255151
print(len(str(q)))

6

## input function
- Read the input to the python program
- read the input in terms of string

In [14]:
q1=input('enter the name')
print(q1,type(q1))

enter the nameJai Shubham
Jai Shubham <class 'str'>

In [18]:
q2= int(input('enter any number'))
print(q2,type(q2))

enter any number7892578897
7892578897 <class 'int'>

In [22]:
# preceding levels of operator 
# Power,Division, Addition
x= 1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [25]:

23/6

3.8333333333333335

In [27]:
23//6

3

## Logical operator
- and
- or
- not

In [30]:
a=500
b=(a>100)and(a>=500)
print(b,type(b))
c=(a>50)and(a<1)
print(c,type(c))

True <class 'bool'>
False <class 'bool'>

In [31]:
a=500
b=(a>100)or(a>=500)
print(b,type(b))
c=(a>50)or(a<1)
print(c,type(c))

True <class 'bool'>
True <class 'bool'>

## control flow statement 
- if-else
###  - **looping statment**
- for
- while

In [36]:
a1=float(input(" "))
if a1%2==0:
    print("even")
else:
    print("odd")

 58.5
odd

In [51]:
a1=float(input(" "))
if (a1%2==0)//2:
    print("even")
else:
    print("odd")

 9
odd